h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 0;
}

.max-width-container {
  max-width: 1400px;
  margin: 0 auto;
}
@media only screen and (max-width: 1760px) {
  .max-width-container {
    padding: 32px 32px 24px;
  }
}
