.form-signin input {
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.form-signin .btn-signin {
  border: 1px solid rgb(29, 191, 115);
  border-radius: 4px;
  background-color: rgb(29, 191, 115);
}

.signin {
  color: rgb(29, 191, 115);
}

@media only screen and (max-width: 768px) {
  .signin-introduce {
    display: none;
  }
  .signin-form {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .signin-form .signin-title {
    margin: 0 20px;
  }
  .signin-form .signin-title span {
    font-size: 20px;
  }
  .signin-form .signin-social {
    margin: 0;
  }
  .signin-footer {
    margin-bottom: 10px;
  }
}
