.not-found {
  background-image: url("https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/2b2e0abb8a29000a31dc910da53530c3-1644931333083/404%20page%20-%203.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.not-found .footer-notfound {
  background-image: url("https://fiverr-res.cloudinary.com/image/upload/f_png,q_auto/v1/attachments/generic_asset/asset/2b2e0abb8a29000a31dc910da53530c3-1644931333094/404%20page%20-%205.svg");
}
